*{
    box-sizing: border-box;
}
body{
    height: 100vh;
}

.bonus-login{
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: 40px;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
}

.bonus-login img{
    width: 130px;
    height: 92px;
    margin: 72px 0px 94px 0px;
}

.bonus-login input{
    width: 261px;
    height: 54px;
    margin-bottom: 15px;
    text-align: center;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
}

.bonus-login button{
    width: 109px;
    height: 45px;
    border: none;
    border-radius: 9px;
}

header{
    width: 100%;
    height: 80px;
    display: flex;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
}

header img{
    width: 75px;
    height: 53px;
    margin-left: 22px;
}

header ion-icon{
    width: 42px;
    height: 30px;
    margin-right: 22px;
}

ul{
    overflow-y:scroll ;
    padding: 106px 0 80px 0 ;
    background-color: #E5E5E5
}

il{
    display: flex;
    align-items: center;
    padding: 20px 8px;
    gap: 5px;
    margin-bottom: 4px;
}

il.status{
    background-color: #DCDCDC;
}

il.message{
    background-color: white;
}

il.private_message{
    background-color: pink;
}
il .from, il .to{
    font-weight: bold;
}
il .time{
    color: grey;
}






.msg-input{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    justify-content: center;
    background-color: #FFFFFF;
    position: fixed;
    bottom: 0;
}
.msg-input ion-icon{
    width: 26px;
    height: 26px;
    position: absolute;
    right: 27px;
    top: 27px;
    
}

.msg-input input{
    border: none;
    margin-left: 17px;
    width: 80%;
    height: 25px;
}

.msg-input input::placeholder{
    font-weight: bold;
    font-style: italic;
    color: black;
}
.msg-box{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.info{
    margin-left: 17px;
    font-style: italic;
    color: gray;
}



.bonus-layout{
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 5;
    position: fixed;
}
.bonus-background{
    width: 35%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

aside{
    display: flex;
    flex-direction: column;
    width: 65%;
    height: 100%;
    background-color: #FFFFFF;
    text-align: center;
}

aside p{
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
}

.contacts, .pm{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 18px;
}

.person, .opcao {
    display: flex;
    font-size: 16px;
    position: relative;
    margin-bottom: 20px;
}

.person ion-icon{
    margin-right: 5px;
}

.person .checkmark{
    color: green;
    position: absolute;
    right: 0;
    margin-right: 15px;
    display: none;
}

.opcao ion-icon{
    margin-right: 5px;
}

.opcao .checkmark{
    margin-right: 15px;
    color: green;
    position: absolute;
    position: absolute;
    right: 0;
    display: none;
}


.checkmark.pm-selected{
    display: initial;
}

.checkmark.person-selected{
    display: initial;
}


.hidden{
    display: none;
}
